<a href="https://colab.research.google.com/github/adi271001/Techfest-IIT-Bombay-Projects/blob/main/PGM3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [3]:
import nltk

In [4]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [5]:
import pandas as pd

In [7]:
fake = pd.read_csv("/content/Fake-210604-161841.csv")
genuine = pd.read_csv("/content/True-210604-161650.csv")

In [8]:
display(fake.info())
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [9]:
display(fake.head())
display(genuine.head())

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [10]:
display(fake.subject.value_counts())
print('\n')
display(genuine.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [11]:
fake['target'] = 0
genuine['target'] = 1

In [12]:
display(fake.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [13]:
display(genuine.head())

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [14]:
data = pd.concat([fake, genuine], axis=0)

In [15]:
data = data.reset_index(drop=True)

In [16]:
data=data.drop(['subject','date','title'], axis=1)

In [17]:
print(data.columns)
print(data)

Index(['text', 'target'], dtype='object')
                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
44894  LONDON (Reuters) - LexisNexis, a provider of l...       1
44895  MINSK (Reuters) - In the shadow of disused Sov...       1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...       1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44898 rows x 2 columns]

##  TOKENIZATION

In [18]:
from nltk.tokenize import word_tokenize
data['text']=data['text'].apply(word_tokenize)

In [19]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

## STEMMING

In [20]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords=False)

In [21]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [22]:
data['text']=data['text'].apply(stem_it)

In [23]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

## Stopword removal

In [25]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
print(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [26]:
def stop_it(t):
    dt = [word for word in t if len(word)>2] 
    return dt

In [27]:
data['text']=data['text'].apply(stop_it)

In [28]:
print(data['text'].head(10))

0    [donald, trump, just, couldn, wish, all, ameri...
1    [hous, intellig, committe, chairman, devin, nu...
2    [friday, was, reveal, that, former, milwauke, ...
3    [christma, day, donald, trump, announc, that, ...
4    [pope, franci, use, his, annual, christma, day...
5    [the, number, case, cop, brutal, and, kill, pe...
6    [donald, trump, spent, good, portion, his, day...
7    [the, wake, yet, anoth, court, decis, that, de...
8    [mani, peopl, have, rais, the, alarm, regard, ...
9    [just, when, you, might, have, thought, get, b...
Name: text, dtype: object

In [29]:
data['text']=data['text'].apply(' '.join)

## Splitting up of data

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['text'], data['target'], test_size=0.25)
display(X_train.head())
print('\n')
display(y_train.head())

29916    washington reuter u.s. president-elect donald ...
4472     the first half the debat donald trump seem bog...
13197    stephen moor has been regular contributor fox ...
7206     smart presidenti candid would immedi fire thei...
18594    last week privat investig rod wheeler appear f...
Name: text, dtype: object

29916    1
4472     0
13197    0
7206     0
18594    0
Name: target, dtype: int64

## Vectorization

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer( max_df=0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [32]:
print(tfidf_train)

  (0, 31722)	0.11699315724249877
  (0, 81046)	0.07250392210928726
  (0, 55651)	0.06216646194038982
  (0, 7491)	0.13039488088942758
  (0, 59216)	0.048660657361036405
  (0, 89778)	0.05888874953200114
  (0, 58158)	0.10167551208468817
  (0, 87390)	0.09277948022212096
  (0, 87870)	0.08114803723883315
  (0, 67250)	0.1555003913662202
  (0, 30148)	0.12236388533535611
  (0, 18437)	0.2146225539171078
  (0, 13571)	0.060152726892851595
  (0, 37821)	0.04874664333403882
  (0, 17155)	0.1069276051225171
  (0, 34757)	0.07899530091987383
  (0, 37960)	0.04867753085570655
  (0, 81854)	0.14039128879893065
  (0, 90992)	0.10900233486713894
  (0, 57940)	0.07181523131876716
  (0, 42272)	0.10717019722625719
  (0, 7528)	0.0870288954483468
  (0, 88363)	0.2448105120480709
  (0, 89407)	0.12529706758787248
  (0, 32601)	0.09774089115870417
  :	:
  (33672, 48369)	0.028730081521055953
  (33672, 59346)	0.02966375730002073
  (33672, 88930)	0.020132434697294883
  (33672, 17840)	0.019784134693799003
  (33672, 39391)	0.021179173143449217
  (33672, 11229)	0.016799989254714716
  (33672, 60649)	0.06010822019670077
  (33672, 8170)	0.047428590035943456
  (33672, 76586)	0.014161547459966131
  (33672, 32089)	0.04609087180683364
  (33672, 59216)	0.02801714076366543
  (33672, 89778)	0.01130204203636192
  (33672, 37821)	0.03742219805794721
  (33672, 17155)	0.04104350313247786
  (33672, 37960)	0.009342285314761797
  (33672, 88363)	0.06264600556358167
  (33672, 74918)	0.032099972598078355
  (33672, 69240)	0.026418193119540623
  (33672, 81320)	0.013248674291983618
  (33672, 72516)	0.012225393599934221
  (33672, 69338)	0.01479673056594005
  (33672, 83357)	0.09185635905018458
  (33672, 26834)	0.012735147776523114
  (33672, 69654)	0.011662830911908213
  (33672, 88008)	0.015457082348339278

## LogisticRegression

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [34]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1    = accuracy_score(y_test,pred_1)
print(cr1*100)

99.11804008908686

## PassiveAggressiveClassifier

In [35]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [36]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ',accscore*100)

The accuracy of prediction is  99.74164810690424